#draggable{
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 11px solid #858585;
    z-index: 10;
    cursor: move;
    width: 100px;
    height: 100px;
}
#div1{
    height: 100%;
    width: 100%;
}